.post {
  border-radius: 25px;
  background: #fff;
  padding: $spacing-unit/2;
  margin: $spacing-unit/2 0 $spacing-unit/2 0;
}

/* Related posts */
.related {
  padding-top: 2rem;
  padding-bottom: 2rem;
  border-top: 1px solid $lightgrey;
}
.related-posts {
  padding-left: 0;
  list-style: none;
}
.related-posts h3 {
  margin-top: 0;
}
.related-posts li small {
  font-size: 50%;
  color: #999;
}
.related-posts li a:hover {
  color: $theme-color;
  text-decoration: none;
}
.related-posts li a:hover small {
  color: inherit;
}