// Body background

$body-background: #f0f0f0;

// Main font

$main-font: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;

// Spacer

$spacing-unit: 2rem;

// Width of the content area
$content-width: 960px;
$on-laptop: 960px;

// Site title color
$site-title-color: #F8F8FF;

//tag style
$post-date-color: #9a9a9a;
$lightgrey:  #eee;
$blue:     #1B6EC4;
$white:      #fff;
$theme-color: $blue;
$theme-color-dark: darken($theme-color, 10%);


$font-sans:  'NanumSquare', 'Source Sans Pro', Apple SD Gothic Neo, Nanum Barun Gothic, Nanum Gothic, Verdana, Arial, Dotum, sans-serif;
$font-font-awesome: FontAwesome;